*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    background-color: #ECF0FF;
}

.backbackbox{
    position: absolute;
    z-index: -1;
    border-radius: 31px; 
    width: 421px;
    height: 613px;
     margin-left: auto;
    margin-right: auto;
    background-color: #EFEBFD;
    top: 293px;
    left: 590px;
}
.backround{
    position: absolute;
    width: 640px;
    height: 464px;
    background-color: #fff;
    border-radius: 24px;
    top: 368px;
    left: 480px;
    box-shadow: 0px 14px 52px -20px #8675B4;
    
}
.header{
    width: 496px;
    margin: 72px 72px 32px 72px ;
}
.src{
    background-image: url(./img/Büyütec.svg);
    background-position: 16px 17px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    margin-right: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 0.01px solid #281A51;
    border-radius: 4px;
    

    color:  #281A518A;
    padding-left: 48px;
    width: 348px;
    height: 56px;
}
input[type=text]::placeholder{
    color:  #281A518A;
}
input[type=text]:focus{
    outline: 0;
}
.use-map{
    width: 136px;
    height: 56px;
    padding-left: 24px;
    font-size: 16px;
    background-image: url(./img/Map.svg);
    background-repeat: no-repeat;
    background-position: 16px 17px;
    background-size: 22px 22px;
    background-color: #281A51;
    border-radius: 4px;
    border: none;
    color: #fff;

}
.body{
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    width: 496px;
    margin: auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 112px;
    height: 108px;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.562);   
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #281A51;

}
span{
    margin-top: 4px;
}
.box1{
    background-color: #FFECEC;
    margin-left: 0px;   
}
.box2{
    background-color: #F7ECFF;    
}
.box3{
    background-color: #ECF0FF;
}
.box4{
    background-color: #D7F9F3;
    margin-right: 0px;
}
.box5{
    background-color: #E2FFD4;
    margin-left: 0px;
}
.box6{
    border: 1px solid #DBD5EC;
    box-shadow: 0px 14px 16px 0px #290B801A;
    background-color: #FFFFFF;
}
.box7{
    background-color: #FFF3C9;
}
.box8{
    background-color: #FFD9C9;
    margin-right: 0px;
    
}


